# Data prepration in python

# Data reading

In [418]:
import nltk
import pandas as pd

In [433]:
SMS_data=pd.read_csv('/Users/atousa/Desktop/sheridan/Python-Data-Science-and-Machine-Learning-Bootcamp 2/Spam_data.csv',sep='\t',names=['label','text'])

In [434]:
SMS_data.head(n=5)

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [435]:
SMS_data.describe()

       label                    text
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [436]:
len(SMS_data[SMS_data['label']=='ham'])

4825

In [437]:
len(SMS_data[SMS_data['label']=='spam'])

747

# Data Cleaning

In [ ]:
import re
import nltk
import pandas as pd
from nltk.corpus import stopwords
nltk.download('punkt')

In [466]:
i=0
for txt in SMS_data['text']:
     w_list = re.sub(r'[^a-z\s]',' ',txt.decode('utf-8').lower()).split()
     w_list=[w for w in w_list if w not in stopwords.words('english')]
     SMS_data.ix[i,'text']=' '.join(w_list)
     i+=1

In [467]:
SMS_data.head(n=5)

  label                                               text  label_num
0   ham  go jurong point crazy available bugis n great ...        0.0
1   ham                            ok lar joking wif u oni        0.0
2  spam  free entry wkly comp win fa cup final tkts st ...        1.0
3   ham                u dun say early hor u c already say        0.0
4   ham             nah think goes usf lives around though        0.0

# Cross validation

In [468]:
SMS_data.loc[SMS_data['label']=='spam','label_num']=1
SMS_data.loc[SMS_data['label']=='ham','label_num']=0

In [469]:
SMS_data.head(n=5)

  label                                               text  label_num
0   ham  go jurong point crazy available bugis n great ...        0.0
1   ham                            ok lar joking wif u oni        0.0
2  spam  free entry wkly comp win fa cup final tkts st ...        1.0
3   ham                u dun say early hor u c already say        0.0
4   ham             nah think goes usf lives around though        0.0

In [470]:
df_x=SMS_data['text']
df_y=SMS_data['label_num']

In [471]:
from sklearn.cross_validation import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df_x,df_y,test_size=0.2,random_state=40)

# Vectorization

In [472]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
x_train_v=cv.fit_transform(x_train)

In [473]:
x_array=x_train_v.toarray()

In [474]:
x_array.shape

(4457, 6810)

In [475]:
x_array

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [477]:
cv.inverse_transform(x_array[1:3,:])

[array([u'bad', u'better', u'cocksuckers', u'even', u'feel', u'garbage',
        u'ipads', u'items', u'makes', u'novelty', u'one', u'wanting',
        u'worthless'],
       dtype='<U21'),
 array([u'babes', u'co', u'get', u'go', u'gotbabes', u'http', u'hunks',
        u'phone', u'services', u'sexy', u'straight', u'subscriptions',
        u'tons', u'uk', u'unsubscribed'],
       dtype='<U21')]

In [478]:
x_train.iloc[0]

u'xxxmobilemovieclub use credit click wap link next txt message click http wap xxxmobilemovieclub com n qjkgighjjgcbl'

# Classifier algorithm ,TF-IDF

In [486]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
import numpy as np

In [481]:
mb=MultinomialNB()

In [482]:
y_train=y_train.astype('int')

In [483]:
mb.fit(x_train_v,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

# prediction

In [488]:
x_test_v=cv.transform(x_test)
predict=mb.predict(x_test_v)

In [489]:
actual_result=np.array(y_test)

In [492]:
error=sum(abs(predict-actual_result))

In [493]:
error

27.0

In [494]:
correct=len(predict)-error

In [495]:
correct

1088.0

In [496]:
accuracy=correct/(correct+error)

In [497]:
accuracy

0.97578475336322867